/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color:rgb(255, 255, 255);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb{
  background-color:rgba(0, 0, 0, 0.293);
  border-radius: 8px;
}

/* navbar 1 */
.dj {
  background-color: #0489f1;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 9px;
  max-width: 1538px;
margin-left: auto;
margin-right: auto;
}

/* Styling for social icons */
.ico, .fo, .ss {
  background-color: #02010100;
  --icon-padding: 1.2em;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #FFFFFF33;
  text-decoration: none;
  color: white;
  align-items: center;
  /* margin-left: 20px; */
  padding: 8px;
  position: relative;
}

/* Styling for search form */
.ss {
  display: flex;
  align-items: center;
  margin-right: 10rem;
  /* width: 12%; */
}

.octf-search {
  display: flex;
  align-items: center;
  list-style-type: none;
  /* margin-left: 20px; */
  position: relative;
}

/* .toggle-search {
  margin-right: 10px;
} */

.h-search-form-field {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.flaticon-search {
  color: white;
}

.octf-btn-cta:hover .h-search-form-field {
  display: block;
}

.ww{
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

.rr{
  width: 70%;
  display: flex;
  justify-content: flex-end;
}


/* navbar2 */
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
}
.navbar-brand {
padding-top: var(--bs-navbar-brand-padding-y);
padding-bottom: var(--bs-navbar-brand-padding-y);
margin-right: var(--bs-navbar-brand-margin-end);
font-size: var(--bs-navbar-brand-font-size);
color: var(--bs-navbar-brand-color);
text-decoration: none;
white-space: nowrap;
margin-left: 3rem;
}
.d-flex {
  display: flex!important;
  margin-right: 60px;
}


.d-flex > .btn:hover {
background-color: #016ada;
  transform: scale(1.1);
}
ul.navbar-nav li a:hover{
color: #07acf5;
}
li.nav-item:hover {
color: #07acf5;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show:hover {
  color: #07acf5;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--bs-navbar-active-color);
}
.site-header {
  background: white;
  position: -webkit-sticky;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1538px;
  border-style: solid;
    border-width: 0 0 1px;
    border-color: #141D3826;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  /* background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important; */
  background-color: transparent !important;
}


/* sliders */
.carousel-caption {
  border: 75px solid white;
  border-left: 10px solid #0489f1;
  background-color: white;
  color: black;
  margin: 16px;
  padding: 40px;
  /* margin-left: 70px; */
  /* margin-right: 396px; */
  margin-left: 5%; 
margin-right: 33%;
max-width: 60%; 
}

.slid {
  margin-top: 23px;
}

img.carousel-img {
  width: 100%;
  height: auto;
}

.carousel-caption h7,
.carousel-caption h1,
.carousel-caption p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .carousel-caption {
      margin: 16px;
      padding: 20px;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
  }
}

/* company */
.ee {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  margin-top: 100px;
  max-width: 1200px;
margin-left: auto; 
margin-right: auto;
margin-bottom: 5rem;
}
@media (min-width: 600px) {
  .ee {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 900px) {
    .ee {
      grid-template-columns: repeat(2, 1fr);
  }
}

.cb {
  margin-top: 90px;
  box-sizing: border-box;
}

.gg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 42px;
  text-align: start;
  /* margin-right: 220px; */
}

.ee p,
.gg p {
  color: #777;
  text-align: start;
}

.opHeading>span {
  font-size: 14px;
  font-weight: 800;
  color: #7141b1;
  position: relative;
  display: inline-block;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.iconBoxS1 .iconMain {
  color: #7141b1;
}

.elemntor-widget-container {
  text-align: start;
  /* margin-right: 220px; */
}

.mainHead {
  font-size: 35px;
  color: #222;
  margin-bottom: 20px;
}

.gg p {
  margin-bottom: 0;
}

.iconBox-s1 h5 {
  margin-bottom: 10px;
}

.lineBox {
  height: 2px;
  width: 20%;
  background-color: #7141b1;
  margin: 10px 0;
}

img.lazyLoaded {
  box-sizing: border-box;
  max-width: 100%; 
  height: auto;
}

/* card2 */
.elementorWidgtcontainer {
  background-color: #fff;
  padding: 40px 45px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.elementorWidgtcontainer:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.iconMain img {
  max-width: 100%;
  height: auto;
}

.contentBox h5 a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contentBox p {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.contentBox h5 a:hover {
  color: #07acf5;
}
@media (min-width: 600px) {
  .sec1 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 900px) {
    .sec1 {
      grid-template-columns: repeat(3, 1fr);
  }
}

.oHeading {
  text-align: center;
}

.oHeading span {
  font-size: 14px;
  font-weight: 800;
  color: #528ec7;
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  text-transform: uppercase;
  margin-top: 104px;
}

.mainHeading {
  font-size: 35px;
  color: #222;
  margin-bottom: 20px;
}
.oHeading span {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.oHeading h2.main-heading {
  color: #222;
  margin-bottom: 24px;
}
.otHeading>span {
  font-size: 15px;
  font-weight: 640;
  color: #7141b1;
  position: relative;
  display: inline-block;
  margin-bottom: 2px;
  text-transform: uppercase;
}



/* card1 */
.techBox:hover {
  background-color: #4596cb;
  cursor: pointer;
}

.techBox {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #00b3ff;
  transition: background-color 0.3s;
}

.techBox h5 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
}
.car1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 62px;
  margin-top: 80px;
  margin-left: auto;
margin-right: auto; 
max-width: 1200px; 
}
@media (min-width: 600px) {
  .car1 {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .car1 {
      grid-template-columns: repeat(3, 1fr);
  }
}
.ta {
  text-align: center;
  margin-bottom: 85px;
}
.oHeading span {
  font-size: 14px;
  font-weight: 800;
  color: #528ec7;
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  text-transform: uppercase;
  margin-top: 104px;
}

.mainHeading {
  font-size: 35px;
  color: #222;
  margin-bottom: 20px;
}
.su{
  /* background-color:gainsboro; */
  background-color: #f8f8f8;
  /* height: 45rem; */
}

/* query */
.sectionWithBackground {
  background-image: url("https://logigates.com/en/wp-content/uploads/2023/06/what-is-industry-4.0-1024x568.jpg");
  background-size: cover;
  
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 65vh;
  box-shadow: 19px 19px 40px 0px rgba(0, 0, 0, .3)
}

.elementorCont {
  text-align: center;
}

.ekit-heading--title,
.ekit-heading__description {
  color: #fff;
  font-size: 33px;
  font-family: "Lato", Sans-serif;
  
}

.elementskitBtn {
  font-family: "Lato", Sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  padding: 11px 18px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  background-color: rgba(255, 204, 3, 0);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffffed;
  box-shadow: 19px 19px 40px 0px rgba(0, 0, 0, .1);
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.elementskitBtn:hover {
  background-color: #3498db;
}


/* footer */
.FooterWraper > div {
  padding: 20px;
  box-sizing: border-box;
}
.cbFtrUl a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  border-bottom: none;
}

.cbFtrUl a:hover {
  color: black;
}

.cb-ftr-cntnr {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  color: white;
  margin-left: auto;
  margin-top: auto;
  max-width: 1401px;
  width: 100%;
  /* margin-left: 5rem */
  /* margin-top: 1rem; */
}

@media (min-width: 600px) {
  .cb-ftr-cntnr {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cb-ftr-cntnr {
      grid-template-columns: repeat(4, 1fr);
  }
}

      /* Styling for the social icons */
.cl {
display: flex;
list-style-type: none;
gap: 11px;
margin-left: -31px;
}

.cbftr-lst {

text-align: center;
color: white;
}

.cbftr-lst a {
text-decoration: none;
color: white;
display: flex;
align-items: center;
}

.cb-ico {
/* Add any additional styling for the icon container if needed */
/* color: #1b1d21; */
color:white;
}

.cb-footer-list-rt {
margin-left: 5px; 
}

/* Footer 2 */
.model {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  padding: 2px;
  max-width: 1200px;
margin-left: auto; 
margin-right: auto; 
}

.theeLogo {
  max-width: 40%; 
  /* margin-bottom: 10px;  */
}

.theeLogo img {
  max-width: 38%;
  height: auto;
  margin-left: 1rem;
}

.te {
  /* margin-top: 12px; */
  max-width: 50%; 
}

/* .heading{
  color: aquamarine;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 0px 2px 4px whitesmoke;
  margin: 50px 0;
} */

/* .more{
  display: flex;
  justify-content: center;
}

.more img{
  width: 150px;
  height: 50px;

} */

/* body{
  background-color: #b4f2e1;
  box-sizing: border-box;
  margin: 0px;
  padding: 0%;
  font-family: "Josefin Sans", sans-serif;
}


div{
  width: 100%;
  height: 21vh;
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

h1{
  padding: 20px 20px;
  background-color: #ffe9c5;
  color: #fa9191;
  border-radius: 20px;
}

span{
  color: #eb6383;
} */


/* .otHeading{
  text-align: center;
} */